@font-face {
    src: url(../fonts/Geometria-Bold.ttf);
    font-family: Geometria;
    font-weight: 700;
    font-style: normal;
}
@font-face {
    src: url(../fonts/Geometria-BoldItalic.ttf);
    font-family: Geometria;
    font-weight: 700;
    font-style: italic;
}
@font-face {
    src: url(../fonts/Geometria-ExtraBold.ttf);
    font-family: Geometria;
    font-weight: 800;
    font-style: normal;
}
@font-face {
    src: url(../fonts/Geometria-ExtraItalic.ttf);
    font-family: Geometria;
    font-weight: 800;
    font-style: italic;
}
@font-face {
    src: url(../fonts/Geometria-ExtraLight.ttf);
    font-family: Geometria;
    font-weight: 200;
    font-style: normal;
}
@font-face {
    src: url(../fonts/Geometria-ExtraLightItalic.ttf);
    font-family: Geometria;
    font-weight: 200;
    font-style: italic;
}
@font-face {
    src: url(../fonts/Geometria-Heavy.ttf);
    font-family: Geometria;
    font-weight: 900;
    font-style: normal;
}
@font-face {
    src: url(../fonts/Geometria-HeavyItalic.ttf);
    font-family: Geometria;
    font-weight: 900;
    font-style: italic;
}
@font-face {
	src: url(../fonts/Geometria-Italic.ttf);
	font-family: Geometria;
	font-weight: normal;
	font-style: italic;
}
@font-face {
	src: url(../fonts/Geometria-Light.ttf);
	font-family: Geometria;
	font-weight: 300;
	font-style: normal;
}
@font-face {
	src: url(../fonts/Geometria-LightItalic.ttf);
	font-family: Geometria;
	font-weight: 300;
	font-style: italic;
}
@font-face {
	src: url(../fonts/Geometria-Medium.ttf);
	font-family: Geometria;
	font-weight: 500;
	font-style: normal;
}
@font-face {
	src: url(../fonts/Geometria-MediumItalic.ttf);
	font-family: Geometria;
	font-weight: 500;
	font-style: italic;
}
@font-face {
	src: url(../fonts/Geometria-Thin.ttf);
	font-family: Geometria;
	font-weight: 100;
	font-style: normal;
}
@font-face {
	src: url(../fonts/Geometria-ThinItalic.ttf);
	font-family: Geometria;
	font-weight: 100;
	font-style: italic;
}
@font-face {
	src: url(../fonts/Geometria.ttf);
	font-family: Geometria;
	font-weight: normal;
	font-style: normal;
}
@font-face {
	src: url(../fonts/PTSansBold.ttf);
	font-family: PTSans;
	font-weight: 700;
	font-style: normal;
}
@font-face {
	src: url(../fonts/PT_Sans-Web-BoldItalic.ttf);
	font-family: PTSans;
	font-weight: 700;
	font-style: italic;
}
@font-face {
	src: url(../fonts/PT_Sans-Web-Italic.ttf);
	font-family: PTSans;
	font-weight: normal;
	font-style: italic;
}
@font-face {
	src: url(../fonts/PT_Sans-Web-Regular_0.ttf);
	font-family: PTSans;
	font-weight: 400;
	font-style: normal;
}