.background_slider {
	display: block;
	width: 100%;
	height: 535px;
	.glide_header {
		height: 100%;
		.glide__slide {
			height: 100%;
			background-size: cover !important;
			background-repeat: no-repeat;
			background-position: center;
			.pointers {
				position: absolute;
				top: 100%;
				left: -15%;
				a {
					
				}
			}
			h1 {
				@include text(PTSans, 48px, 1, 700, rgb(28, 28, 28));
				text-align: left;
			}
			p {
				@include text(PTSans, 24px, 1.25, 400, rgb(28, 28, 28));
				text-align: left;
				margin-top: 2rem;  

			}
			a.more {
				@include text(Geometria, 12px, 2, 700, $base-color-white);
				font-style: normal;	
				text-align: center;
				text-transform: uppercase;
				padding: 12px 0;
			    border-radius: 4px;
			    background-color: rgb(228, 42, 30);
			    box-shadow: 0px 9px 7.74px 1.26px rgba(228, 42, 30, 0.24);
			    display: inline-block;
			    width: 100%;
			    max-height: 48px;
			    transition: all .4s;
			    &:hover {
			    	color: rgb(228, 42, 30);
			    	background-color: $base-color-white;

			    }
			}
			a.instagram-link {
				@include flex(row, wrap, center, space-around);
				@include text(Geometria, 12px, 2, 700, rgb(28, 28, 28));
				text-transform: uppercase;
				text-align: center;
			    border-style: solid;
			    border-width: 2px;
			    border-color: rgba(228, 42, 30, .65);
			    border-radius: 4px;
			    background-color: rgba(228, 42, 30, 0);
			    padding: 3px 0px 6px 12px;
			    width: 100%;
			    max-height: 48px;
			    transition: all .4s;
			    &:hover {
			    	border-color: rgb(228,42,30);
			    	color: rgb(228,42,30);
			    	svg {
			    		path {
			    			fill: rgb(228,42,30);
			    		}
			    	}
			    }
			    svg {
			    	width: 40px;
			    	height: 40px;
			    	path {
			    		transition: all .4s;
			    	}
			    }
			}
		}
		.glide__track {
			height: 100%;
			.glide__slides {
				height: 100%;

			}
		}
		.glide__bullets {
			position: relative;
			bottom: 5em;
			left: 0;
			width: 14.5em;
			justify-content: space-around;
			transform: unset;
			.glide__bullet {
				margin: 0 2% !important;
				width: 63px;
				height: 7px;
				background-color: rgb(247, 247, 247);
				transition: all .3s;
				padding: 0;
				border: 1px solid transparent;
				border-radius: 3px;
				box-shadow: 0px 8px 13.76px 2.24px rgba(196, 196, 196, 0.67);

			}
			.glide__bullet--active {
				  background-color: rgb(228, 42, 30);
			}
		}
	}	
}