.header {
  @include background(url('../images/header__bg.png'), cover, no-repeat, center);
  background-color: rgb(28, 28, 28);
  box-shadow: 0px 5px 34.2px 3.8px rgba(28, 28, 28, 0.33);
  position: relative;
  z-index: 1;
  .flexible {
    @include flex(row, wrap, center, space-between);
    &:last-child {
      justify-content: flex-end;
    }
  }
  .main-nav {
    @include flex(row, wrap, center, space-between);
    flex: 1;
    list-style: none;
    padding-left: 0;
    li {
      a {
        @include text(PTSans, 18px, 1.333, 700, $base-color-white);
      }
    }
    
  }
  a[href="tel:+7 700 123-60-56"] {
      @include text(PTSans, 24px, 1, 700, $base-color-white);
      text-align: left;
  }
  .burger {
    max-height: 44px;
    @include flex(row, wrap, center, space-around);
    padding: 10px 0;
    border-radius: 4px;
    background-color: rgb(228, 42, 30);
    box-shadow: 0px 9px 7.74px 1.26px rgba(228, 42, 30, 0.24);
    .hc-nav-trigger {
      position: relative;
      top: 0;
    }
    .hc-nav-trigger span, .hc-nav-trigger span::before, .hc-nav-trigger span::after {
      height: 3px;
      border-radius: 25px;
      background: $base-color-white;
    }
    h3 {
      @include text(PTSans, 18px, 1.333, 700, $base-color-white);
      text-align: left;  
    }

  }
  .search-form {
    position: relative;
    max-height: 44px;
    .search-field {
        @include text(PTSans, 16px, 1.5, 400, $base-color-dark);
        text-align: left;
        border: none;
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        padding: 10px 0 10px 20px;
        width: 100%;
        .search-field::placeholder {
          color: rgba(28, 28, 28, 0.502);
        }
    }
    .search-btn {
        position: absolute;
        top: 30%;
        right: 2%;
        width: 24px;
        height: 24px;
        background-image: url(../images/header__search.png);
        background-repeat: no-repeat;
        background-size: auto;
        border: none;
        outline: none;
        background-color: transparent;
    }
  }
  .backcall {
      @include text(PTSans, 18px, 1.333, 700, $base-color-white);
      @include flex(row, nowrap, center, space-around);
      text-align: left;
      background-color: transparent;
      border-style: solid;
      border-width: 2px;
      border-color: rgba(228, 42, 30, .65);
      border-radius: 4px;
      background-color: rgba(228, 42, 30, 0);
      max-height: 44px;
      width: 100%;
      padding: 10px 0;
      outline: none;
  }
}
